-- CreateEnum
CREATE TYPE "AppRole" AS ENUM ('candidato', 'admin', 'coord_geral', 'coord_financeiro', 'coord_juridico', 'coord_comunicacao', 'coord_mobilizacao', 'lideranca_regional', 'lideranca_local', 'cabo_eleitoral', 'coordenador', 'lideranca', 'operador', 'visualizador', 'operador_crm', 'analista_dados');

-- CreateTable
CREATE TABLE "tenants" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" TEXT NOT NULL DEFAULT '',
    "phone" TEXT,
    "cpf" TEXT,
    "avatar_url" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" "AppRole" NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "action" TEXT NOT NULL,
    "table_name" TEXT NOT NULL,
    "record_id" TEXT,
    "old_data" JSONB,
    "new_data" JSONB,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_settings" (
    "id" UUID NOT NULL,
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL DEFAULT '{}',
    "description" TEXT,
    "updated_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "estados" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "sigla" CHAR(2) NOT NULL,
    "geocodigo_ibge" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "estados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "municipios" (
    "id" UUID NOT NULL,
    "estado_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "geocodigo_ibge" TEXT,
    "populacao" INTEGER,
    "populacao_2022" INTEGER,
    "eleitorado_total" INTEGER,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "classificacao_estrategica" TEXT,
    "prioridade_campanha" INTEGER,
    "notas_estrategicas" TEXT,
    "tenant_id" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "municipios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "distritos" (
    "id" UUID NOT NULL,
    "municipio_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "geocodigo_ibge" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "distritos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bairros" (
    "id" UUID NOT NULL,
    "municipio_id" UUID NOT NULL,
    "distrito_id" UUID,
    "nome" TEXT NOT NULL,
    "classificacao" TEXT,
    "zona_tipo" TEXT,
    "zona_estrategica" TEXT,
    "perfil_socioeconomico" TEXT,
    "populacao_estimada" INTEGER,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bairros_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunidades" (
    "id" UUID NOT NULL,
    "bairro_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "microarea" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "comunidades_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zonas_eleitorais" (
    "id" UUID NOT NULL,
    "municipio_id" UUID NOT NULL,
    "numero_zona" INTEGER NOT NULL,
    "tribunal_regional" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "zonas_eleitorais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "secoes_eleitorais" (
    "id" UUID NOT NULL,
    "zona_id" UUID NOT NULL,
    "numero_secao" INTEGER NOT NULL,
    "local_votacao" TEXT,
    "endereco" TEXT,
    "eleitores_aptos" INTEGER,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "secoes_eleitorais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pessoas" (
    "id" UUID NOT NULL,
    "full_name" TEXT NOT NULL,
    "tipo_pessoa" TEXT DEFAULT 'pf',
    "cpf" TEXT,
    "cnpj" TEXT,
    "razao_social" TEXT,
    "nome_fantasia" TEXT,
    "data_nascimento" TEXT,
    "genero" TEXT,
    "escolaridade" TEXT,
    "nivel_relacionamento" TEXT NOT NULL DEFAULT 'desconhecido',
    "observacoes" TEXT,
    "score" INTEGER NOT NULL DEFAULT 0,
    "is_lideranca" BOOLEAN NOT NULL DEFAULT false,
    "lideranca_id" UUID,
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "pessoas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pessoas_contatos" (
    "id" UUID NOT NULL,
    "pessoa_id" UUID NOT NULL,
    "tipo" TEXT NOT NULL,
    "valor" TEXT NOT NULL,
    "principal" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "pessoas_contatos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pessoas_enderecos" (
    "id" UUID NOT NULL,
    "pessoa_id" UUID NOT NULL,
    "tipo" TEXT,
    "logradouro" TEXT,
    "numero" TEXT,
    "complemento" TEXT,
    "cep" TEXT,
    "bairro_id" UUID,
    "municipio_id" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "pessoas_enderecos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pessoas_papeis" (
    "id" UUID NOT NULL,
    "pessoa_id" UUID NOT NULL,
    "papel" TEXT NOT NULL,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "pessoas_papeis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tags" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "cor" TEXT,
    "categoria" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pessoas_tags" (
    "pessoa_id" UUID NOT NULL,
    "tag_id" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "pessoas_tags_pkey" PRIMARY KEY ("pessoa_id","tag_id")
);

-- CreateTable
CREATE TABLE "demandas" (
    "id" UUID NOT NULL,
    "pessoa_id" UUID,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "status" TEXT NOT NULL DEFAULT 'aberta',
    "categoria" TEXT,
    "prioridade" TEXT NOT NULL DEFAULT 'media',
    "origem" TEXT,
    "protocolo" TEXT,
    "satisfacao_cidadao" DOUBLE PRECISION,
    "resolucao_descricao" TEXT,
    "municipio_id" UUID,
    "bairro_id" UUID,
    "eixo_id" UUID,
    "created_by" UUID,
    "atribuido_a" UUID,
    "data_abertura" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "data_prazo" TIMESTAMP(3),
    "data_resolucao" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "demandas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "demandas_encaminhamentos" (
    "id" UUID NOT NULL,
    "demanda_id" UUID NOT NULL,
    "de_usuario_id" UUID,
    "para_usuario_id" UUID,
    "observacao" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "demandas_encaminhamentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "demandas_anexos" (
    "id" UUID NOT NULL,
    "demanda_id" UUID NOT NULL,
    "arquivo_url" TEXT NOT NULL,
    "descricao" TEXT,
    "tipo" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "demandas_anexos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "agenda" (
    "id" UUID NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "tipo" TEXT NOT NULL,
    "data_inicio" TIMESTAMP(3) NOT NULL,
    "data_fim" TIMESTAMP(3),
    "dia_inteiro" BOOLEAN NOT NULL DEFAULT false,
    "local" TEXT,
    "municipio_id" UUID,
    "bairro_id" UUID,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'agendado',
    "plano_acao_id" UUID,
    "responsavel_id" UUID,
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "agenda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "agenda_participantes" (
    "id" UUID NOT NULL,
    "agenda_id" UUID NOT NULL,
    "pessoa_id" UUID NOT NULL,
    "papel" TEXT,
    "confirmado" BOOLEAN NOT NULL DEFAULT false,
    "compareceu" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "agenda_participantes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "agenda_checkins" (
    "id" UUID NOT NULL,
    "agenda_id" UUID NOT NULL,
    "usuario_id" UUID,
    "tipo" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "agenda_checkins_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "agenda_followups" (
    "id" UUID NOT NULL,
    "agenda_id" UUID NOT NULL,
    "descricao" TEXT NOT NULL,
    "responsavel_id" UUID,
    "prazo" TIMESTAMP(3),
    "concluido" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "agenda_followups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "centros_custo" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "orcamento_previsto" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "centros_custo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "despesas" (
    "id" UUID NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "data_despesa" TIMESTAMP(3) NOT NULL,
    "categoria" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "centro_custo_id" UUID,
    "fornecedor_id" UUID,
    "documento_tipo" TEXT,
    "documento_numero" TEXT,
    "comprovante_url" TEXT,
    "responsavel_id" UUID,
    "plano_acao_id" UUID,
    "aprovador_id" UUID,
    "data_pagamento" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "despesas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "receitas" (
    "id" UUID NOT NULL,
    "descricao" TEXT,
    "valor" DOUBLE PRECISION NOT NULL,
    "data_receita" TIMESTAMP(3) NOT NULL,
    "tipo" TEXT NOT NULL,
    "centro_custo_id" UUID,
    "origem_pessoa_id" UUID,
    "comprovante_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "receitas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_import_jobs" (
    "id" UUID NOT NULL,
    "tipo" TEXT NOT NULL,
    "uf" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'queued',
    "total_registros" INTEGER,
    "registros_processados" INTEGER,
    "progress_pct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "error_msg" TEXT,
    "source_url" TEXT,
    "started_at" TIMESTAMP(3),
    "finished_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_import_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_import_logs" (
    "id" UUID NOT NULL,
    "job_id" UUID NOT NULL,
    "level" TEXT NOT NULL DEFAULT 'info',
    "message" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_import_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_csv_arquivos" (
    "id" UUID NOT NULL,
    "nome_original" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "storage_path" TEXT NOT NULL,
    "tabela_destino" TEXT NOT NULL,
    "tamanho_bytes" BIGINT,
    "total_linhas" INTEGER,
    "linhas_processadas" INTEGER NOT NULL DEFAULT 0,
    "byte_cursor" BIGINT NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'aguardando',
    "progress_pct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "error_msg" TEXT,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "started_at" TIMESTAMP(3),
    "finished_at" TIMESTAMP(3),
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_csv_arquivos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_eleitorado_perfil" (
    "id" UUID NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "municipio" TEXT,
    "regiao" TEXT,
    "cor_raca" TEXT,
    "estado_civil" TEXT,
    "faixa_etaria" TEXT,
    "genero" TEXT,
    "grau_instrucao" TEXT,
    "quantidade_eleitores" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_eleitorado_perfil_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_eleitorado_secao" (
    "id" UUID NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "cod_municipio_tse" TEXT NOT NULL,
    "municipio" TEXT,
    "zona" INTEGER NOT NULL,
    "secao" INTEGER NOT NULL,
    "cod_local_votacao" TEXT,
    "nome_local_votacao" TEXT,
    "cor_raca" TEXT,
    "estado_civil" TEXT,
    "faixa_etaria" TEXT,
    "genero" TEXT,
    "grau_instrucao" TEXT,
    "quantidade_eleitores" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_eleitorado_secao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_candidatos" (
    "id" UUID NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "turno" INTEGER NOT NULL DEFAULT 1,
    "cargo" TEXT NOT NULL,
    "numero_urna" TEXT NOT NULL,
    "nome_urna" TEXT,
    "nome_completo" TEXT,
    "cpf" TEXT,
    "partido_sigla" TEXT,
    "partido_numero" TEXT,
    "coligacao" TEXT,
    "genero" TEXT,
    "ocupacao" TEXT,
    "situacao_candidatura" TEXT,
    "situacao_eleicao" TEXT,
    "eleito" BOOLEAN NOT NULL DEFAULT false,
    "cod_municipio_tse" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_candidatos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_resultados_secao" (
    "id" UUID NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "turno" INTEGER NOT NULL DEFAULT 1,
    "cargo" TEXT NOT NULL,
    "cod_municipio_tse" TEXT NOT NULL,
    "zona" INTEGER NOT NULL,
    "secao" INTEGER NOT NULL,
    "numero_votavel" TEXT NOT NULL,
    "partido_sigla" TEXT,
    "votos" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_resultados_secao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tse_locais_votacao" (
    "id" UUID NOT NULL,
    "ano" INTEGER NOT NULL,
    "uf" VARCHAR(2) NOT NULL,
    "cod_municipio_tse" TEXT NOT NULL,
    "codigo_local" TEXT NOT NULL,
    "nome_local" TEXT,
    "endereco" TEXT,
    "bairro" TEXT,
    "cep" TEXT,
    "zona" INTEGER NOT NULL DEFAULT 0,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "tse_locais_votacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "gamificacao_regras" (
    "id" UUID NOT NULL,
    "acao" TEXT NOT NULL,
    "pontos" INTEGER NOT NULL DEFAULT 0,
    "descricao" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "gamificacao_regras_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunicacao_campanhas" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL DEFAULT 'whatsapp',
    "status" TEXT NOT NULL DEFAULT 'draft',
    "filtros" JSONB,
    "mensagem" TEXT NOT NULL,
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "comunicacao_campanhas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunicacao_logs" (
    "id" UUID NOT NULL,
    "pessoa_id" UUID NOT NULL,
    "campanha_id" UUID,
    "tipo" TEXT NOT NULL DEFAULT 'whatsapp',
    "mensagem" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "provider_id" TEXT,
    "error_msg" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "comunicacao_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanhas_estrategias" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "ano" INTEGER NOT NULL,
    "meta_votos" INTEGER,
    "orcamento_global" DOUBLE PRECISION,
    "data_eleicao" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'planejamento',
    "abrangencia" TEXT NOT NULL DEFAULT 'municipal',
    "estado_id" UUID,
    "municipio_id" UUID,
    "parent_campanha_id" UUID,
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "campanhas_estrategias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "eixos_estrategicos" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "cor" TEXT,
    "orcamento_alocado" DOUBLE PRECISION,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "eixos_estrategicos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "planos_acao" (
    "id" UUID NOT NULL,
    "eixo_id" UUID NOT NULL,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "status" TEXT NOT NULL DEFAULT 'todo',
    "data_inicio" TIMESTAMP(3),
    "data_fim" TIMESTAMP(3),
    "data_conclusao" TIMESTAMP(3),
    "orcamento_previsto" DOUBLE PRECISION,
    "responsavel_id" UUID,
    "depende_de_id" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "planos_acao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanhas_parcerias" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "candidato_parceiro_nome" TEXT NOT NULL,
    "cargo_parceiro" TEXT NOT NULL,
    "municipio_id" UUID,
    "peso_estrategico" INTEGER NOT NULL DEFAULT 3,
    "observacoes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "campanhas_parcerias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunicacao_pautas" (
    "id" UUID NOT NULL,
    "campanha_id" UUID,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "status" TEXT NOT NULL DEFAULT 'planejada',
    "data_prevista" TIMESTAMP(3),
    "responsavel_id" UUID,
    "prioridade" TEXT NOT NULL DEFAULT 'media',
    "tags" TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "comunicacao_pautas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunicacao_pecas" (
    "id" UUID NOT NULL,
    "pauta_id" UUID,
    "campanha_id" UUID,
    "formato" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "conteudo" TEXT,
    "status" TEXT NOT NULL DEFAULT 'rascunho',
    "data_publicacao" TIMESTAMP(3),
    "plataformas" TEXT[],
    "url_arquivo" TEXT,
    "responsavel_id" UUID,
    "aprovado_por" UUID,
    "aprovado_em" TIMESTAMP(3),
    "observacoes_juridicas" TEXT,
    "versao" INTEGER NOT NULL DEFAULT 1,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "comunicacao_pecas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comunicacao_mencoes" (
    "id" UUID NOT NULL,
    "campanha_id" UUID,
    "canal" TEXT NOT NULL,
    "autor" TEXT,
    "url" TEXT,
    "conteudo" TEXT NOT NULL,
    "sentimento" TEXT NOT NULL DEFAULT 'neutro',
    "status" TEXT NOT NULL DEFAULT 'novo',
    "alcance_estimado" INTEGER,
    "resposta" TEXT,
    "respondido_por" UUID,
    "respondido_em" TIMESTAMP(3),
    "data_mencao" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',

    CONSTRAINT "comunicacao_mencoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanhas" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "partido_sigla" TEXT,
    "numero_urna" TEXT,
    "coligacao" TEXT,
    "estado_id" UUID,
    "municipio_id" UUID,
    "municipios_foco_ids" TEXT[],
    "data_eleicao" TIMESTAMP(3),
    "data_inicio_plano" TIMESTAMP(3),
    "meta_votos" INTEGER,
    "orcamento_total" DOUBLE PRECISION,
    "observacoes" TEXT,
    "ativa" BOOLEAN NOT NULL DEFAULT true,
    "candidato_pessoa_id" UUID,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "campanhas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_fases" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "ordem" INTEGER NOT NULL,
    "cor" TEXT,
    "data_inicio" TIMESTAMP(3),
    "data_fim" TIMESTAMP(3),
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campanha_fases_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_tarefas" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "fase_id" UUID,
    "o_que_e" TEXT,
    "o_que_faz" TEXT,
    "descricao" TEXT,
    "entregaveis" TEXT,
    "prioridade" TEXT NOT NULL DEFAULT 'media',
    "area" TEXT NOT NULL DEFAULT 'geral',
    "dia" INTEGER NOT NULL DEFAULT 0,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "is_marco" BOOLEAN NOT NULL DEFAULT false,
    "data_prevista" TIMESTAMP(3),
    "data_conclusao" TIMESTAMP(3),
    "fase_legal" TEXT,
    "permitido_antes_registro" BOOLEAN NOT NULL DEFAULT true,
    "respaldo_legal" TEXT,
    "observacoes" TEXT,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campanha_tarefas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_subtarefas" (
    "id" UUID NOT NULL,
    "tarefa_id" UUID NOT NULL,
    "titulo" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "responsavel_id" UUID,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campanha_subtarefas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_metas" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "indicador" TEXT NOT NULL,
    "valor_alvo" DOUBLE PRECISION NOT NULL,
    "valor_atual" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unidade" TEXT,
    "data_prazo" TIMESTAMP(3),
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "campanha_metas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_metas_municipio" (
    "id" UUID NOT NULL,
    "meta_id" UUID NOT NULL,
    "municipio_id" UUID NOT NULL,
    "valor_alvo" DOUBLE PRECISION NOT NULL,
    "valor_atual" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campanha_metas_municipio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_semanas" (
    "id" UUID NOT NULL,
    "campanha_id" UUID NOT NULL,
    "numero" INTEGER NOT NULL,
    "data_inicio" TIMESTAMP(3) NOT NULL,
    "data_fim" TIMESTAMP(3) NOT NULL,
    "foco" TEXT,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campanha_semanas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "profiles" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "full_name" TEXT NOT NULL,
    "phone" TEXT,
    "cpf" TEXT,
    "avatar_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_provedores" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ativo',
    "api_key" TEXT,
    "base_url" TEXT,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_provedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_modelos" (
    "id" UUID NOT NULL,
    "provedor_id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "modelo_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ativo',
    "capacidades" JSONB,
    "custo_input" DOUBLE PRECISION,
    "custo_output" DOUBLE PRECISION,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_modelos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_copilots" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "system_prompt" TEXT NOT NULL,
    "modelo_id" UUID NOT NULL,
    "provedor_id" UUID NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ativo',
    "parametros" JSONB,
    "funcoes_acesso" TEXT[],
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_copilots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_uso_log" (
    "id" UUID NOT NULL,
    "copilot_id" UUID,
    "modelo_id" UUID,
    "provedor_id" UUID,
    "user_id" UUID,
    "acao" TEXT NOT NULL,
    "tokens_input" INTEGER NOT NULL DEFAULT 0,
    "tokens_output" INTEGER NOT NULL DEFAULT 0,
    "custo_estimado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "latencia_ms" INTEGER,
    "metadata" JSONB,
    "tenant_id" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_uso_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mapa_cenarios" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "tenant_id" UUID NOT NULL,
    "campanha_id" UUID,
    "created_by" UUID,
    "geojson" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mapa_cenarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mapa_setores" (
    "id" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "cor" TEXT,
    "tenant_id" UUID NOT NULL,
    "campanha_id" UUID,
    "created_by" UUID,
    "geojson" JSONB,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mapa_setores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_settings" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "primary_color" TEXT,
    "logo_url" TEXT,
    "theme_config" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenant_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Documento" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "pessoaId" TEXT,
    "arquivoUrl" TEXT NOT NULL,
    "tipoDocumento" TEXT,
    "descricao" TEXT,
    "tamanho" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Documento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notificacao" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "tipo" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "mensagem" TEXT,
    "link" TEXT,
    "entidadeTipo" TEXT,
    "entidadeId" TEXT,
    "lida" BOOLEAN NOT NULL DEFAULT false,
    "lidaEm" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Notificacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reuniao" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "titulo" TEXT NOT NULL,
    "dataReuniao" TIMESTAMP(3) NOT NULL,
    "pauta" TEXT,
    "local" TEXT,
    "tipo" TEXT,
    "campanhaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reuniao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReuniaoDeliberacao" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "reuniaoId" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "prazo" TIMESTAMP(3),
    "responsavelId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReuniaoDeliberacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoteiroVisita" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "municipioId" UUID,
    "observacoes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoteiroVisita_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoteiroParada" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "roteiroId" TEXT NOT NULL,
    "descricao" TEXT,
    "concluido" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoteiroParada_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pesquisa" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "titulo" TEXT NOT NULL,
    "instituto" TEXT,
    "dataDivulgacao" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pesquisa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PesquisaResultado" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "pesquisaId" TEXT NOT NULL,
    "candidato" TEXT NOT NULL,
    "cenario" TEXT,
    "intencaoVotos" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PesquisaResultado_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CaptacaoDoador" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "cpfCnpj" TEXT,
    "valorDoado" DOUBLE PRECISION,
    "dataDoacao" TIMESTAMP(3),
    "statusDoacao" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CaptacaoDoador_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Material" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Material_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Estoque" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "materialId" TEXT NOT NULL,
    "municipioId" UUID,
    "quantidadeAtual" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Estoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MovimentacaoEstoque" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "estoqueId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "motivo" TEXT,
    "responsavelId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MovimentacaoEstoque_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contrato" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "numero" TEXT,
    "objeto" TEXT,
    "valor" DOUBLE PRECISION,
    "dataInicio" TIMESTAMP(3),
    "dataFim" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contrato_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContratoAprovacao" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "contratoId" TEXT NOT NULL,
    "aprovadorId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pendente',
    "ordem" INTEGER NOT NULL,
    "papel" TEXT NOT NULL,
    "exigeObservacao" BOOLEAN NOT NULL DEFAULT false,
    "observacao" TEXT,
    "decididoEm" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContratoAprovacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MunicipioEstrategico" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "campanhaId" UUID,
    "municipioId" UUID NOT NULL,
    "classificacao" TEXT,
    "prioridade" INTEGER DEFAULT 3,
    "score" DOUBLE PRECISION DEFAULT 0,
    "metaVotos" INTEGER DEFAULT 0,
    "votosHistoricos" INTEGER DEFAULT 0,
    "estrategia" TEXT,
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MunicipioEstrategico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BairroEstrategico" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "campanhaId" UUID,
    "bairroId" UUID NOT NULL,
    "classificacao" TEXT,
    "prioridade" INTEGER DEFAULT 3,
    "score" DOUBLE PRECISION DEFAULT 0,
    "metaVotos" INTEGER DEFAULT 0,
    "estrategia" TEXT,
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BairroEstrategico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LiderancaLocal" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "campanhaId" UUID,
    "municipioId" UUID,
    "bairroId" UUID,
    "pessoaId" UUID,
    "nome" TEXT NOT NULL,
    "classificacao" TEXT DEFAULT 'A',
    "status" TEXT DEFAULT 'mapeado',
    "tipo" TEXT DEFAULT 'comunitaria',
    "votosEstimados" INTEGER DEFAULT 0,
    "influenciaScore" DOUBLE PRECISION DEFAULT 0,
    "telefone" TEXT,
    "whatsapp" TEXT,
    "observacoes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LiderancaLocal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VereadorHistorico" (
    "id" TEXT NOT NULL,
    "tenantId" UUID NOT NULL,
    "campanhaId" UUID,
    "municipioId" UUID,
    "nome" TEXT NOT NULL,
    "partido" TEXT,
    "uf" TEXT,
    "ano" INTEGER,
    "eleito" BOOLEAN DEFAULT false,
    "votosRecebidos" INTEGER DEFAULT 0,
    "faixaVotos" TEXT,
    "votosUltimaEleicao" INTEGER DEFAULT 0,
    "alinhamento" TEXT DEFAULT 'neutro',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VereadorHistorico_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_slug_key" ON "tenants"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "user_roles_user_id_role_key" ON "user_roles"("user_id", "role");

-- CreateIndex
CREATE INDEX "audit_logs_table_name_idx" ON "audit_logs"("table_name");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "audit_logs"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "system_settings_tenant_id_key_key" ON "system_settings"("tenant_id", "key");

-- CreateIndex
CREATE UNIQUE INDEX "estados_sigla_key" ON "estados"("sigla");

-- CreateIndex
CREATE UNIQUE INDEX "estados_geocodigo_ibge_key" ON "estados"("geocodigo_ibge");

-- CreateIndex
CREATE UNIQUE INDEX "municipios_geocodigo_ibge_key" ON "municipios"("geocodigo_ibge");

-- CreateIndex
CREATE UNIQUE INDEX "tags_nome_key" ON "tags"("nome");

-- CreateIndex
CREATE INDEX "tse_eleitorado_perfil_tenant_id_ano_uf_idx" ON "tse_eleitorado_perfil"("tenant_id", "ano", "uf");

-- CreateIndex
CREATE UNIQUE INDEX "tse_eleitorado_perfil_tenant_id_ano_uf_municipio_cor_raca_f_key" ON "tse_eleitorado_perfil"("tenant_id", "ano", "uf", "municipio", "cor_raca", "faixa_etaria", "genero", "grau_instrucao");

-- CreateIndex
CREATE INDEX "tse_eleitorado_secao_tenant_id_ano_uf_idx" ON "tse_eleitorado_secao"("tenant_id", "ano", "uf");

-- CreateIndex
CREATE UNIQUE INDEX "tse_eleitorado_secao_tenant_id_ano_uf_cod_municipio_tse_zon_key" ON "tse_eleitorado_secao"("tenant_id", "ano", "uf", "cod_municipio_tse", "zona", "secao", "cor_raca", "faixa_etaria", "genero", "grau_instrucao");

-- CreateIndex
CREATE INDEX "tse_candidatos_tenant_id_ano_uf_idx" ON "tse_candidatos"("tenant_id", "ano", "uf");

-- CreateIndex
CREATE UNIQUE INDEX "tse_candidatos_tenant_id_ano_uf_turno_cargo_numero_urna_cod_key" ON "tse_candidatos"("tenant_id", "ano", "uf", "turno", "cargo", "numero_urna", "cod_municipio_tse");

-- CreateIndex
CREATE INDEX "tse_resultados_secao_tenant_id_ano_uf_idx" ON "tse_resultados_secao"("tenant_id", "ano", "uf");

-- CreateIndex
CREATE UNIQUE INDEX "tse_resultados_secao_tenant_id_ano_uf_turno_cod_municipio_t_key" ON "tse_resultados_secao"("tenant_id", "ano", "uf", "turno", "cod_municipio_tse", "zona", "secao", "numero_votavel", "cargo");

-- CreateIndex
CREATE INDEX "tse_locais_votacao_tenant_id_ano_uf_idx" ON "tse_locais_votacao"("tenant_id", "ano", "uf");

-- CreateIndex
CREATE UNIQUE INDEX "tse_locais_votacao_tenant_id_ano_uf_cod_municipio_tse_codig_key" ON "tse_locais_votacao"("tenant_id", "ano", "uf", "cod_municipio_tse", "codigo_local", "zona");

-- CreateIndex
CREATE UNIQUE INDEX "gamificacao_regras_acao_key" ON "gamificacao_regras"("acao");

-- CreateIndex
CREATE INDEX "comunicacao_logs_pessoa_id_idx" ON "comunicacao_logs"("pessoa_id");

-- CreateIndex
CREATE INDEX "comunicacao_logs_campanha_id_idx" ON "comunicacao_logs"("campanha_id");

-- CreateIndex
CREATE UNIQUE INDEX "profiles_user_id_key" ON "profiles"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "tenant_settings_tenant_id_key" ON "tenant_settings"("tenant_id");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "system_settings" ADD CONSTRAINT "system_settings_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "municipios" ADD CONSTRAINT "municipios_estado_id_fkey" FOREIGN KEY ("estado_id") REFERENCES "estados"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "municipios" ADD CONSTRAINT "municipios_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "distritos" ADD CONSTRAINT "distritos_municipio_id_fkey" FOREIGN KEY ("municipio_id") REFERENCES "municipios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bairros" ADD CONSTRAINT "bairros_municipio_id_fkey" FOREIGN KEY ("municipio_id") REFERENCES "municipios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bairros" ADD CONSTRAINT "bairros_distrito_id_fkey" FOREIGN KEY ("distrito_id") REFERENCES "distritos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunidades" ADD CONSTRAINT "comunidades_bairro_id_fkey" FOREIGN KEY ("bairro_id") REFERENCES "bairros"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "zonas_eleitorais" ADD CONSTRAINT "zonas_eleitorais_municipio_id_fkey" FOREIGN KEY ("municipio_id") REFERENCES "municipios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "secoes_eleitorais" ADD CONSTRAINT "secoes_eleitorais_zona_id_fkey" FOREIGN KEY ("zona_id") REFERENCES "zonas_eleitorais"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas" ADD CONSTRAINT "pessoas_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas" ADD CONSTRAINT "pessoas_lideranca_id_fkey" FOREIGN KEY ("lideranca_id") REFERENCES "pessoas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas" ADD CONSTRAINT "pessoas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_contatos" ADD CONSTRAINT "pessoas_contatos_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_contatos" ADD CONSTRAINT "pessoas_contatos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_enderecos" ADD CONSTRAINT "pessoas_enderecos_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_enderecos" ADD CONSTRAINT "pessoas_enderecos_bairro_id_fkey" FOREIGN KEY ("bairro_id") REFERENCES "bairros"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_enderecos" ADD CONSTRAINT "pessoas_enderecos_municipio_id_fkey" FOREIGN KEY ("municipio_id") REFERENCES "municipios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_enderecos" ADD CONSTRAINT "pessoas_enderecos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_papeis" ADD CONSTRAINT "pessoas_papeis_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_papeis" ADD CONSTRAINT "pessoas_papeis_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tags" ADD CONSTRAINT "tags_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_tags" ADD CONSTRAINT "pessoas_tags_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_tags" ADD CONSTRAINT "pessoas_tags_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pessoas_tags" ADD CONSTRAINT "pessoas_tags_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas" ADD CONSTRAINT "demandas_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas" ADD CONSTRAINT "demandas_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas" ADD CONSTRAINT "demandas_atribuido_a_fkey" FOREIGN KEY ("atribuido_a") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas" ADD CONSTRAINT "demandas_eixo_id_fkey" FOREIGN KEY ("eixo_id") REFERENCES "eixos_estrategicos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas" ADD CONSTRAINT "demandas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas_encaminhamentos" ADD CONSTRAINT "demandas_encaminhamentos_demanda_id_fkey" FOREIGN KEY ("demanda_id") REFERENCES "demandas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas_encaminhamentos" ADD CONSTRAINT "demandas_encaminhamentos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas_anexos" ADD CONSTRAINT "demandas_anexos_demanda_id_fkey" FOREIGN KEY ("demanda_id") REFERENCES "demandas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandas_anexos" ADD CONSTRAINT "demandas_anexos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda" ADD CONSTRAINT "agenda_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda" ADD CONSTRAINT "agenda_responsavel_id_fkey" FOREIGN KEY ("responsavel_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda" ADD CONSTRAINT "agenda_plano_acao_id_fkey" FOREIGN KEY ("plano_acao_id") REFERENCES "planos_acao"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda" ADD CONSTRAINT "agenda_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_participantes" ADD CONSTRAINT "agenda_participantes_agenda_id_fkey" FOREIGN KEY ("agenda_id") REFERENCES "agenda"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_participantes" ADD CONSTRAINT "agenda_participantes_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_participantes" ADD CONSTRAINT "agenda_participantes_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_checkins" ADD CONSTRAINT "agenda_checkins_agenda_id_fkey" FOREIGN KEY ("agenda_id") REFERENCES "agenda"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_checkins" ADD CONSTRAINT "agenda_checkins_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_followups" ADD CONSTRAINT "agenda_followups_agenda_id_fkey" FOREIGN KEY ("agenda_id") REFERENCES "agenda"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "agenda_followups" ADD CONSTRAINT "agenda_followups_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "centros_custo" ADD CONSTRAINT "centros_custo_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "despesas" ADD CONSTRAINT "despesas_centro_custo_id_fkey" FOREIGN KEY ("centro_custo_id") REFERENCES "centros_custo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "despesas" ADD CONSTRAINT "despesas_plano_acao_id_fkey" FOREIGN KEY ("plano_acao_id") REFERENCES "planos_acao"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "despesas" ADD CONSTRAINT "despesas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "receitas" ADD CONSTRAINT "receitas_centro_custo_id_fkey" FOREIGN KEY ("centro_custo_id") REFERENCES "centros_custo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "receitas" ADD CONSTRAINT "receitas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_import_jobs" ADD CONSTRAINT "tse_import_jobs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_import_logs" ADD CONSTRAINT "tse_import_logs_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "tse_import_jobs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_import_logs" ADD CONSTRAINT "tse_import_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_csv_arquivos" ADD CONSTRAINT "tse_csv_arquivos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_eleitorado_perfil" ADD CONSTRAINT "tse_eleitorado_perfil_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_eleitorado_secao" ADD CONSTRAINT "tse_eleitorado_secao_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_candidatos" ADD CONSTRAINT "tse_candidatos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_resultados_secao" ADD CONSTRAINT "tse_resultados_secao_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tse_locais_votacao" ADD CONSTRAINT "tse_locais_votacao_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gamificacao_regras" ADD CONSTRAINT "gamificacao_regras_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_campanhas" ADD CONSTRAINT "comunicacao_campanhas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_logs" ADD CONSTRAINT "comunicacao_logs_pessoa_id_fkey" FOREIGN KEY ("pessoa_id") REFERENCES "pessoas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_logs" ADD CONSTRAINT "comunicacao_logs_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "comunicacao_campanhas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_logs" ADD CONSTRAINT "comunicacao_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanhas_estrategias" ADD CONSTRAINT "campanhas_estrategias_parent_campanha_id_fkey" FOREIGN KEY ("parent_campanha_id") REFERENCES "campanhas_estrategias"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanhas_estrategias" ADD CONSTRAINT "campanhas_estrategias_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "eixos_estrategicos" ADD CONSTRAINT "eixos_estrategicos_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas_estrategias"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "eixos_estrategicos" ADD CONSTRAINT "eixos_estrategicos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "planos_acao" ADD CONSTRAINT "planos_acao_eixo_id_fkey" FOREIGN KEY ("eixo_id") REFERENCES "eixos_estrategicos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "planos_acao" ADD CONSTRAINT "planos_acao_responsavel_id_fkey" FOREIGN KEY ("responsavel_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "planos_acao" ADD CONSTRAINT "planos_acao_depende_de_id_fkey" FOREIGN KEY ("depende_de_id") REFERENCES "planos_acao"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "planos_acao" ADD CONSTRAINT "planos_acao_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanhas_parcerias" ADD CONSTRAINT "campanhas_parcerias_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas_estrategias"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanhas_parcerias" ADD CONSTRAINT "campanhas_parcerias_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_pautas" ADD CONSTRAINT "comunicacao_pautas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_pecas" ADD CONSTRAINT "comunicacao_pecas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_pecas" ADD CONSTRAINT "comunicacao_pecas_pauta_id_fkey" FOREIGN KEY ("pauta_id") REFERENCES "comunicacao_pautas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comunicacao_mencoes" ADD CONSTRAINT "comunicacao_mencoes_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanhas" ADD CONSTRAINT "campanhas_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_fases" ADD CONSTRAINT "campanha_fases_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_tarefas" ADD CONSTRAINT "campanha_tarefas_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_tarefas" ADD CONSTRAINT "campanha_tarefas_fase_id_fkey" FOREIGN KEY ("fase_id") REFERENCES "campanha_fases"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_subtarefas" ADD CONSTRAINT "campanha_subtarefas_tarefa_id_fkey" FOREIGN KEY ("tarefa_id") REFERENCES "campanha_tarefas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_metas" ADD CONSTRAINT "campanha_metas_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_metas_municipio" ADD CONSTRAINT "campanha_metas_municipio_meta_id_fkey" FOREIGN KEY ("meta_id") REFERENCES "campanha_metas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_semanas" ADD CONSTRAINT "campanha_semanas_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_provedores" ADD CONSTRAINT "ai_provedores_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_modelos" ADD CONSTRAINT "ai_modelos_provedor_id_fkey" FOREIGN KEY ("provedor_id") REFERENCES "ai_provedores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_modelos" ADD CONSTRAINT "ai_modelos_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_copilots" ADD CONSTRAINT "ai_copilots_modelo_id_fkey" FOREIGN KEY ("modelo_id") REFERENCES "ai_modelos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_copilots" ADD CONSTRAINT "ai_copilots_provedor_id_fkey" FOREIGN KEY ("provedor_id") REFERENCES "ai_provedores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_copilots" ADD CONSTRAINT "ai_copilots_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_uso_log" ADD CONSTRAINT "ai_uso_log_copilot_id_fkey" FOREIGN KEY ("copilot_id") REFERENCES "ai_copilots"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_uso_log" ADD CONSTRAINT "ai_uso_log_modelo_id_fkey" FOREIGN KEY ("modelo_id") REFERENCES "ai_modelos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_uso_log" ADD CONSTRAINT "ai_uso_log_provedor_id_fkey" FOREIGN KEY ("provedor_id") REFERENCES "ai_provedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_uso_log" ADD CONSTRAINT "ai_uso_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_uso_log" ADD CONSTRAINT "ai_uso_log_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mapa_cenarios" ADD CONSTRAINT "mapa_cenarios_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mapa_cenarios" ADD CONSTRAINT "mapa_cenarios_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mapa_setores" ADD CONSTRAINT "mapa_setores_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mapa_setores" ADD CONSTRAINT "mapa_setores_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenant_settings" ADD CONSTRAINT "tenant_settings_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Documento" ADD CONSTRAINT "Documento_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notificacao" ADD CONSTRAINT "Notificacao_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notificacao" ADD CONSTRAINT "Notificacao_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reuniao" ADD CONSTRAINT "Reuniao_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReuniaoDeliberacao" ADD CONSTRAINT "ReuniaoDeliberacao_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReuniaoDeliberacao" ADD CONSTRAINT "ReuniaoDeliberacao_reuniaoId_fkey" FOREIGN KEY ("reuniaoId") REFERENCES "Reuniao"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoteiroVisita" ADD CONSTRAINT "RoteiroVisita_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoteiroVisita" ADD CONSTRAINT "RoteiroVisita_municipioId_fkey" FOREIGN KEY ("municipioId") REFERENCES "municipios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoteiroParada" ADD CONSTRAINT "RoteiroParada_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RoteiroParada" ADD CONSTRAINT "RoteiroParada_roteiroId_fkey" FOREIGN KEY ("roteiroId") REFERENCES "RoteiroVisita"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pesquisa" ADD CONSTRAINT "Pesquisa_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PesquisaResultado" ADD CONSTRAINT "PesquisaResultado_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PesquisaResultado" ADD CONSTRAINT "PesquisaResultado_pesquisaId_fkey" FOREIGN KEY ("pesquisaId") REFERENCES "Pesquisa"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaptacaoDoador" ADD CONSTRAINT "CaptacaoDoador_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Material" ADD CONSTRAINT "Material_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estoque" ADD CONSTRAINT "Estoque_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estoque" ADD CONSTRAINT "Estoque_materialId_fkey" FOREIGN KEY ("materialId") REFERENCES "Material"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estoque" ADD CONSTRAINT "Estoque_municipioId_fkey" FOREIGN KEY ("municipioId") REFERENCES "municipios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimentacaoEstoque" ADD CONSTRAINT "MovimentacaoEstoque_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimentacaoEstoque" ADD CONSTRAINT "MovimentacaoEstoque_estoqueId_fkey" FOREIGN KEY ("estoqueId") REFERENCES "Estoque"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contrato" ADD CONSTRAINT "Contrato_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContratoAprovacao" ADD CONSTRAINT "ContratoAprovacao_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContratoAprovacao" ADD CONSTRAINT "ContratoAprovacao_contratoId_fkey" FOREIGN KEY ("contratoId") REFERENCES "Contrato"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MunicipioEstrategico" ADD CONSTRAINT "MunicipioEstrategico_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MunicipioEstrategico" ADD CONSTRAINT "MunicipioEstrategico_municipioId_fkey" FOREIGN KEY ("municipioId") REFERENCES "municipios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BairroEstrategico" ADD CONSTRAINT "BairroEstrategico_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BairroEstrategico" ADD CONSTRAINT "BairroEstrategico_bairroId_fkey" FOREIGN KEY ("bairroId") REFERENCES "bairros"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiderancaLocal" ADD CONSTRAINT "LiderancaLocal_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiderancaLocal" ADD CONSTRAINT "LiderancaLocal_municipioId_fkey" FOREIGN KEY ("municipioId") REFERENCES "municipios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiderancaLocal" ADD CONSTRAINT "LiderancaLocal_bairroId_fkey" FOREIGN KEY ("bairroId") REFERENCES "bairros"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiderancaLocal" ADD CONSTRAINT "LiderancaLocal_pessoaId_fkey" FOREIGN KEY ("pessoaId") REFERENCES "pessoas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VereadorHistorico" ADD CONSTRAINT "VereadorHistorico_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VereadorHistorico" ADD CONSTRAINT "VereadorHistorico_municipioId_fkey" FOREIGN KEY ("municipioId") REFERENCES "municipios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

